<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-indigo-600">
<div class="w-64 mx-auto rounded-md bg-white p-3 my-10">
    <h1 class="text-xs5 flex items-center justify-center text-sm uppercase">Reset password</h1>
    <form action="{{ path('app_sendToken') }}" method="POST">
        <div class="my-2">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" type="text" name="email" placeholder="email" value="" required/>
        </div>

        <div class="my-2">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" type="text" name="captcha" placeholder="captcha" value="" required/>
        </div>

        <div class="my-2">
            <style>
                .bigger {
                    transition: transform 0.3s;
                }

                .bigger:hover {
                    transform: scale(2.1);
                }
            </style>
            <img class='bigger' src="data:image/png;base64, {{ captcha }}" alt="Obrazek PNG">
        </div>

        <div class="flex items-center justify-center">
            <input class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit" value="Reset" />
        </div>

        <div class="text-right mt-2">
            <a class="underline text-indigo-500 hover:text-indigo-700" href="{{ path('app_login') }}">back</a>
        </div>
    </form>
</div>
</body>
</html>