{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    <div class="fixed left-0 top-0 h-full w-64 bg-gray-800 text-center p-10">
        <a class='text-white' href="{{ path("app_logout") }}">logout</a>
    </div>
{% endblock %}